apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: server
spec:
  workspaces:
    - name: app-binary
  resources:
    - name: source
      type: git
  params:
    - name: MAVEN_MIRROR_URL
      default: ""
    - name: image_dest_url
      type: string
      description: External registry location to copy image to
      default: quay.io/gnunn/server:latest
  tasks:
    - name: build
      taskRef:
        name: maven
      workspaces:
        - name: app-binary
          workspace: app-binary
      resources:
        inputs:
          - name: source
            resource: source
      params:
        - name: MAVEN_MIRROR_URL
          value: "$(params.MAVEN_MIRROR_URL)"
        - name: GOALS
          value: "package sonar:sonar install deploy"
        - name: PROFILES
          value: "quality,copy"
    - name: build-image
      taskRef:
        name: openshift-client
        kind: Task
      workspaces:
        - name: app-binary
          workspace: app-binary
      runAfter:
        - build
      params:
        - name: COMMANDS
          value: |
            ls $(workspaces.app-binary.path)
            JAR="$(ls $(workspaces.app-binary.path)/*-runner.jar)"
            echo "Building image with ${JAR}"
            oc start-build server --from-file=$JAR --wait=true
    - name: promote-image
      taskRef:
        name: push-image
        kind: Task
      workspaces:
        - name: app-binary
          workspace: app-binary
      runAfter:
        - build-image
      params:
        - name: src-image
          value: image-registry.openshift-image-registry.svc:5000/product-catalog-cicd/server:latest
        - name: dest-image
          value: $(params.image_dest_url)
    - name: deploy-dev
      taskRef:
        name: deploy
        kind: Task
      runAfter:
        - promote-image
      params:
        - name: NAME
          value: server
        - name: NAMESPACE
          value: product-catalog-dev
    - name: dev-test
      taskRef:
        name: newman
        kind: Task
      runAfter:
        - deploy-dev
      params:
        - name: COLLECTION
          value: https://raw.githubusercontent.com/gnunn-gitops/product-catalog-server/master/tests/product-catalog-server-tests.json
        - name: ENVIRONMENT
          value: newman-dev-env.json
    - name: deploy-test
      taskRef:
        name: deploy
        kind: Task
      runAfter:
        - dev-test
      params:
        - name: NAME
          value: server
        - name: NAMESPACE
          value: product-catalog-test
    - name: test-test
      taskRef:
        name: newman
        kind: Task
      runAfter:
        - deploy-test
      params:
        - name: COLLECTION
          value: https://raw.githubusercontent.com/gnunn-gitops/product-catalog-server/master/tests/product-catalog-server-tests.json
        - name: ENVIRONMENT
          value: newman-test-env.json
