apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: server
spec:
  type: git
  params:
    - name: revision
      value: master
    - name: url
      value: https://github.com/gnunn-gitops/product-catalog-server