apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: deploy
spec:
  params:
    - name: NAME
      type: string
    - name: NAMESPACE
      type: string
  steps:
    - name: run-commands
      image: quay.io/openshift/origin-cli:latest
      script: |
        #!/usr/bin/env bash

        oc rollout restart deployment/$(inputs.params.NAME) -n $(inputs.params.NAMESPACE)
        oc rollout status deploy/$(inputs.params.NAME) -n $(inputs.params.NAMESPACE)