    <settings>
      <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
      </pluginGroups>

      <servers>
        <server>
          <id>nexus-releases</id>
          <username>${env.MAVEN_SERVER_USERNAME}</username>
          <password>${env.MAVEN_SERVER_PASSWORD}</password>
        </server>
        <server>
          <id>nexus-snapshots</id>
          <username>${env.MAVEN_SERVER_USERNAME}</username>
          <password>${env.MAVEN_SERVER_PASSWORD}</password>
        </server>
      </servers>
      <mirrors>
        <mirror>
          <id>local-repository</id>
          <name>Nexus Maven Mirror</name>
          <url>https://nexus-dev-tools.apps.hub.ocplab.com/content/groups/public</url>
          <mirrorOf>*</mirrorOf>
        </mirror>
      </mirrors>

      <profiles>
        <profile>
          <id>nexus-internal</id>
          <properties>
            <repository.snapshots>https://nexus-dev-tools.apps.hub.ocplab.com/content/repositories/snapshots</repository.snapshots>
            <repository.releases>https://nexus-dev-tools.apps.hub.ocplab.com//content/repositories/releases</repository.releases>
            <!--
            <repository.snapshots>http://nexus:8081/content/repositories/snapshots</repository.snapshots>
            <repository.releases>http://nexus:8081/content/repositories/releases</repository.releases>
            -->
          </properties>
        </profile>
        <profile>
          <id>sonar</id>
          <properties>
            <sonar.host.url>
              https://sonarqube-dev-tools.apps.hub.ocplab.com
            </sonar.host.url>
            <sonar.login>admin</sonar.login>
            <sonar.password>R@dhat1234</sonar.password>
            <!--
            <sonar.host.url>
              http://sonarqube:9000
            </sonar.host.url>
          -->
          </properties>
        </profile>
        <profile>
          <id>pipeline</id>
            <properties>
              <binary.output.path>/workspace/app-binary</binary.output.path>
            </properties>
        </profile>
      </profiles>

      <activeProfiles>
        <activeProfile>nexus-internal</activeProfile>
        <activeProfile>sonar</activeProfile>
        <activeProfile>pipeline</activeProfile>
      </activeProfiles>
    </settings>