apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
- ../../../../environments/overlays/cicd

resources:
- pipeline-rolebinding.yaml
- user1-rolebinding.yaml
- docker-sealed-secret.yaml
- github-sealed-secret.yaml