apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: product-catalog-monitor
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: apps-product-catalog
  source:
    path: manifests/app/operators
    repoURL: https://github.com/gnunn-gitops/product-catalog.git
    targetRevision: master
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
  - group: route.openshift.io
    kind: Route
    jsonPointers:
    - /status/ingress
  - group: integreatly.org
    kind: GrafanaDataSource
    jsonPointers:
    - /spec/datasources/0/secureJsonData/httpHeaderValue1
